dialog {
  padding: 1em 0;

  &[open] { display: flex; }
  flex-flow: column nowrap;

  background-color: var(--background-color);
  border: none;
  border-radius: 1em;

  color: var(--text-color);
}

.dialog-header {
  padding: 0 1em 1em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.dialog-header-title {
  font-weight: 700;
  font-size: 1.2em;
}

.dialog-body {
  padding: 0 1em;
}

.field-row + .field-row {
  margin-top: .5em;
}

.field-row label {
  margin-top: .5em;
  display: block;
}
.field-row label:first-child {
  margin: 0;
  width: 6em;
  
  display: inline-block;
}

.dialog-footer {
  padding: 1em 1em 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: .5rem;
}