#map-container {
  & .subject-container {
    transition: opacity .2s;

    &.inactive {
      opacity: 0.3;
    }
  }

  & .subject-box {
    width: 10rem;
    height: 3rem;
    padding: .5rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    /* overflow: hidden; */

    text-align: left;

    background-color: white;
    border: 1px solid #444;
  }

  & .subject-text {
    width: 100%;

    overflow: hidden;
    
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  & .subject-text-code {
    font-size: .8em;
  }

  & .subject-text-name {
    font-weight: 700;
  }

  & .subject-text-supplementary {
    font-weight: 300;
    font-size: .8em;
  }

  & .subject-arrow {
    fill: transparent;
    stroke: black;
    stroke-width: 1px;

    transition: stroke .2s, opacity .2s;

    &.inactive {
      opacity: 0;
    }
  }
}