#map-container {
  & .subject-box.category1 {
    fill: #C8E8FB;
    stroke: #0B5395;
  }
  & .subject-box.category2 {
    fill: #C4EFFF;
    stroke: #0076A3;
  }
  & .subject-box.category3 {
    fill: #C9FAFC;
    stroke: #089CA3;
  }
  & .subject-box.category4 {
    fill: #CAFBED;
    stroke: #0C9B74;
  }
  & .subject-box.category5 {
    fill: #E5F4E0;
    stroke: #55A839;
  }
  & .subject-box.category6 {
    fill: #EDF3DB;
    stroke: #7E9632;
  }
}