:root {
  --palette-color1: #0B5395;
  --palette-color1-sub: #C8E8FB;
  --palette-color2: #0076A3;
  --palette-color2-sub: #C4EFFF;
  --palette-color3: #089CA3;
  --palette-color3-sub: #C9FAFC;
  --palette-color4: #0C9B74;
  --palette-color4-sub: #CAFBED;
  --palette-color5: #55A839;
  --palette-color5-sub: #E5F4E0;
  --palette-color6: #7E9632;
  --palette-color6-sub: #EDF3DB;
}

#map-container { 
  & .subject-box.category1 {
    /* &.important { background-color: #C8E8FB; } */
    border-color: #0B5395;
  }
  & .subject-box.category2 {
    /* &.important { background-color: #C4EFFF; } */
    border-color: #0076A3;
  }
  & .subject-box.category3 {
    /* &.important { background-color: #C9FAFC; } */
    border-color: #089CA3;
  }
  & .subject-box.category4 {
    /* background-color: #CAFBED; */
    border-color: #0C9B74;
  }
  & .subject-box.category5 {
    /* background-color: #E5F4E0; */
    border-color: #55A839;
  }
  & .subject-box.category6 {
    /* background-color: #EDF3DB; */
    border-color: #7E9632;
  }
}