@media only screen and (max-width: 640px) {
  .desktop-only {
    display: none !important;
  }

  button, input {
    transition: transform .2s;
  }
  button:active, input:active {
    transform: scale(1.1);
  }

  header {
    height: 4rem;
  }

  main {
    padding-top: 4rem;
    padding-bottom: 4.5rem;
  }

  #map-container .subject-box {
    width: 6rem !important;
  }
  #map-container .subject-text-supplementary {
    display: none;
  }

  footer {
    height: unset;

    flex-flow: column nowrap;
    justify-content: center;
  }
}
@media only screen and (min-width: 641px) {
  .mobile-only {
    display: none !important;
  }
}