@media only screen and (max-width: 640px) {
  .desktop-only {
    display: none;
  }

  header {
    height: 4rem;
  }

  h1 {
    margin-top: 1.25rem;
  }

  main {
    padding-top: 4rem;
    padding-bottom: 6rem;
    /* font-size: .8em; */
  }
}
@media only screen and (min-width: 641px) {
  .mobile-only {
    display: none;
  }
}