@media only screen and (max-width: 640px) {
  .desktop-only {
    display: none !important;
  }

  button, input {
    transition: transform .2s;
  }
  button:active, input:active {
    transform: scale(1.1);
  }

  header {
    height: 4rem;
  }
  header > div {
    & .button-group {
      border-radius: 1.5rem;
    }
    & button {
      width: 3rem;
      height: 3rem;
      
      border-radius: 1.5rem;
    }
  }
  h1 {
    margin-left: -.5rem;
    padding-block: .875rem;
  }

  main {
    padding-top: 4rem;
    padding-bottom: 4.5rem;
  }

  .subject-box {
    width: 6rem !important;
  }
  .subject-text-supplementary {
    display: none;
  }

  footer {
    height: unset;

    flex-flow: column nowrap;
    justify-content: center;
  }
}
@media only screen and (min-width: 641px) {
  .mobile-only {
    display: none !important;
  }
}