* {
  box-sizing: border-box;
  
  line-height: 1;

  -webkit-user-select: none;
  user-select: none;
}

input {
  font: inherit;
  color: var(--text-color);
}
input[type="text"],
input[type="search"] {
  padding: .5rem;
  
  background-color: var(--floor-color);
  border: none;
  border-radius: 1rem;
}

button {
  padding: .5rem;

  background-color: var(--floor-color);
  border: none;
  border-radius: 1rem;

  font: inherit;
  color: var(--text-color);
}

.button-group {
  display: flex;
  flex-flow: row nowrap;

  background-color: var(--button-color);
  box-shadow: 0 0 1rem -.75rem;
  border-radius: 1rem;

  &.vertical {
    flex-flow: column nowrap;
  }

  & button, & input[type="search"] {
    width: 2rem;
    height: 2rem;
    padding: 0;

    background-color: transparent;
    border: none;
    border-radius: 1rem;

    &:hover {
      background-color: var(--button-hover-color);
    }
    &:hover:active {
      background-color: var(--button-click-color);
    }
  }
}

p {
  margin: 0;

  line-height: 1.5;
}
p + p {
  margin-top: .5em;
}

:root {
  --floor-color: #EFF0F4;
  --background-color: white;
  --button-color: #F9FBFF;
  --button-hover-color: #ECEEF2;
  --button-click-color: #E0E2E6;
  --text-color: black;

  --showall-icon: url("../svg/showall-black.svg");

  background-color: var(--floor-color);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  color: var(--text-color);
}

body {
  margin: 0;

  overflow-x: auto;
}

header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 3em;
  padding: .5rem 1rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  background-image: linear-gradient(down, #EFF0F4, #EFF0F440);
  backdrop-filter: blur(1rem);
}
header > div {
  display: flex;
  flex-flow: row nowrap;
  gap: .5rem;
}
h1 {
  margin: 0;
  padding-block: .375rem;
  font-size: 1.25rem;
}

.aside-opened {
  header { padding-left: 16rem; }
  #open-sidebar-button { display: none; }
  #close-sidebar-button { display: block; }
  aside { display: block; }
  #map-wrapper { padding-left: 15.5rem; }
  footer { padding-left: 16.5rem; }
}
aside {
  position: fixed;
  left: .5rem;
  top: .5rem;
  z-index: 2000;
  width: 15rem;
  height: calc(100% - 1rem);

  display: none;
  overflow: auto;
  
  border-radius: 1rem;
  background-color: color-mix(in srgb, var(--floor-color), transparent 25%);
  backdrop-filter: blur(1rem);
  box-shadow: 0 0 2rem -1.5rem;
}
.aside-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 2.5rem;
  padding-bottom: .5rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  
  background-color: color-mix(in srgb, var(--floor-color), transparent 25%);
}
#close-sidebar-button {
  display: none;
}
aside > ul {
  margin: 0;
  padding: 0 1rem 1rem;

  list-style-type: none;
}
aside > ul > li {
  padding-top: 1rem;
  padding-bottom: .25rem;

  font-weight: 500;
  font-size: .8rem;
  opacity: 50%;
}
aside > ul > ul {
  padding: 0;

  list-style-type: none;
}
aside > ul > ul > li {
  padding: .5rem;

  border-radius: .5rem;

  &.active {
    background-color: color-mix(in srgb, transparent, var(--text-color) 10%);
  }
}

main {
  position: relative;
  min-height: 100vh;
  padding: 3em 0 2em;

  text-align: center;
}

.mobile-toolbar {
  position: fixed;
  bottom: 0;
  padding: 1rem;
  width: 100%;
  height: 5rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: .5rem;

  list-style-type: none;

  & input {
    flex-grow: 1;
    padding-inline: 1rem;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2em;
  padding-inline: 1em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  opacity: 60%;

  & p {
    margin: .5rem 0;
    font-size: .8em;
    line-height: 1;
  }
}

#map-container {
  max-width: none;
}



/* BUTTONS WITH ICONS */

#close-filter-button {
  padding: .75rem;

  background-color: #007FFF;
  background-image: url("../svg/check-white.svg");
  background-size: contain;
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
}
#deselect-node-button {
  padding: .75rem;

  background-image: var(--showall-icon);
  background-size: contain;
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
}

/* DARK MODE */

@media (prefers-color-scheme: dark) {
  :root {
    --floor-color: black;
    --background-color: #17181C;
    --button-color: #191B1D;
    --button-hover-color: #2D2F31;
    --button-click-color: #3c3e40;
    --text-color: white;

    --showall-icon: url("../svg/showall-white.svg");
  }
}