* {
  box-sizing: border-box;
  
  line-height: 1;

  -webkit-user-select: none;
  user-select: none;
}

input {
  font: inherit;
}

button {
  font: inherit;
}

p {
  margin: 0;

  line-height: 1.5;
}
p + p {
  margin-top: .5em;
}

:root {
  height: 100vh;
  font-family: Pretendard, sans-serif;
}

body {
  margin: 0;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3em;
  padding-inline: 1em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  backdrop-filter: blur(.25em);
}

h1 {
  margin-block: .5em;
  font-size: 1.5em;
}

header p {
  margin-top: .75rem;

  font-weight: 300;
}

main {
  padding: 3em 0 2em;

  flex-grow: 1;
  overflow-y: auto;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2em;
  padding-inline: 1em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  backdrop-filter: blur(.25em);

  & p { font-size: .8em; }
}

#map-container {
  margin: auto;
  /* width: 100%; */
}