* {
  box-sizing: border-box;
  
  line-height: 1;

  -webkit-user-select: none;
  user-select: none;
}

input {
  font: inherit;
}

button {
  font: inherit;
}

p {
  margin: 0;

  line-height: 1.5;
}
p + p {
  margin-top: .5em;
}

:root {
  background-color: #EFF0F4;

  font-family: Pretendard, sans-serif;
}

body {
  margin: 0;

  overflow-x: auto;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3em;
  padding: .5rem 1rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  background-color: #EFF0F440;
  backdrop-filter: blur(1rem);
}

h1 {
  margin: 0;
  padding-block: .375rem;
  font-size: 1.25rem;
}

header div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: .5rem;

  font-weight: 200;
}

main {
  padding: 3em 0 0;

  text-align: center;
}

#mobile-toolbar {
  position: fixed;
  bottom: 0;
  padding: 1rem;
  width: 100%;
  height: 4.5rem;

  display: flex;
  flex-flow: row nowrap;
  gap: .5rem;

  list-style-type: none;
  
  & * {
    height: 2.5rem;
    min-width: 2.5rem;

    background: #FFFFFF80;
    backdrop-filter: blur(.5rem);
    border: none;
    border-radius: 1.25rem;
  }

  & input {
    flex-grow: 1;
    padding-inline: 1rem;
  }
}

footer {
  height: 2em;
  padding-inline: 1em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  color: #555;

  & p {
    margin: .5rem 0;
    font-size: .8em;
    line-height: 1;
  }
}

#map-container {
  max-width: none;
}