* {
  box-sizing: border-box;
  
  line-height: 1;

  -webkit-user-select: none;
  user-select: none;
}

input {
  font: inherit;
}

button {
  font: inherit;
}

p {
  margin: 0;

  line-height: 1.5;
}
p + p {
  margin-top: .5em;
}

:root {
  background-color: #EFF0F4;

  font-family: Pretendard, sans-serif;
}

body {
  margin: 0;

  overflow-x: auto;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3em;
  padding-inline: 1em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  backdrop-filter: blur(.25em);
}

h1 {
  margin-block: .5em;
  font-size: 1.5em;
}

header div {
  margin-top: .75rem;

  font-weight: 300;
}

main {
  padding: 3em 0 2em;

  text-align: center;
}

menu {
  position: fixed;
  bottom: 0;
  margin: 1rem;
  width: calc(100% - 2rem);
  height: 4rem;
  padding: .5rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;

  list-style-type: none;

  background-color: #FFFFFFC0;
  backdrop-filter: blur(2rem);
  box-shadow: 0 0 1rem -1rem;
  border-radius: 2rem;

  & li {
    padding: .5rem;
    
    flex: 4em 1 0;

    border-radius: 1.5rem;

    text-align: center;

    &.active {
      background-color: lightgray;
      color: #007FFF;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2em;
  padding-inline: 1em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  backdrop-filter: blur(.25em);

  & p {
    margin: .5rem 0;
    font-size: .8em;
    line-height: 1;
  }
}

#map-container {
  max-width: none;
}