* {
  box-sizing: border-box;
  
  line-height: 1;

  -webkit-user-select: none;
  user-select: none;
}

input {
  font: inherit;
}

button {
  font: inherit;
  color: inherit;
}

.button-group {
  display: flex;
  flex-flow: row nowrap;

  background-color: #f9fbff;
  box-shadow: 0 0 1rem -.75rem;
  border-radius: 1rem;

  &.vertical {
    flex-flow: column nowrap;
  }

  & button, & input[type="search"] {
    width: 2rem;
    height: 2rem;
    padding: 0;

    background-color: transparent;
    border: none;
    border-radius: 1rem;

    &:hover {
      background-color: #eceef2;
    }
    &:hover:active {
      background-color: #e0e2e6;
    }
  }
}

p {
  margin: 0;

  line-height: 1.5;
}
p + p {
  margin-top: .5em;
}

:root {
  background-color: #EFF0F4;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  margin: 0;

  overflow-x: auto;
}

header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 3em;
  padding: .5rem 1rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  /* background-color: #EFF0F440; */
  background-image: linear-gradient(down, #EFF0F4, #EFF0F440);
  backdrop-filter: blur(1rem);
}
header > div {
  display: flex;
  flex-flow: row nowrap;
  gap: .5rem;
}
h1 {
  margin: 0;
  padding-block: .375rem;
  font-size: 1.25rem;
}

.aside-opened {
  header { padding-left: 16rem; }
  #open-sidebar-button { display: none; }
  #close-sidebar-button { display: block; }
  aside { display: block; }
  #map-wrapper { padding-left: 15.5rem; }
  footer { padding-left: 16.5rem; }
}
aside {
  position: fixed;
  left: .5rem;
  top: .5rem;
  z-index: 2000;
  width: 15rem;
  height: calc(100% - 1rem);

  display: none;
  overflow: auto;
  
  border-radius: 1rem;
  background-color: #ffffff40;
  backdrop-filter: blur(1rem);
  box-shadow: 0 0 2rem -1.5rem;
}
.aside-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 2.5rem;
  padding-bottom: .5rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  
  background-color: #EFF0F440;

  & button {
    width: 2rem;
    height: 2rem;

    background-color: transparent;
    border: none;
    border-radius: 1rem;

    &:hover {
      background-color: #eceef2;
    }
    &:hover:active {
      background-color: #e0e2e6;
    }
  }
}
#close-sidebar-button {
  display: none;
}
aside > ul {
  margin: 0;
  padding: 0 1rem 1rem;

  list-style-type: none;
}
aside > ul > li {
  padding-top: 1rem;
  padding-bottom: .25rem;

  font-weight: 500;
  font-size: .8rem;
  opacity: 50%;
}
aside > ul > ul {
  padding: 0;

  list-style-type: none;
}
aside > ul > ul > li {
  padding: .5rem;

  border-radius: .5rem;

  &.active {
    background-color: #00000010;
  }
}

main {
  position: relative;
  min-height: 100vh;
  padding: 3em 0 2em;

  text-align: center;
}

.mobile-toolbar {
  position: fixed;
  bottom: 0;
  padding: 1rem;
  width: 100%;
  height: 5rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: .5rem;

  list-style-type: none;

  & input {
    flex-grow: 1;
    padding-inline: 1rem;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2em;
  padding-inline: 1em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  color: #555;

  & p {
    margin: .5rem 0;
    font-size: .8em;
    line-height: 1;
  }
}

#map-container {
  max-width: none;
}



/* BUTTONS WITH ICONS */

#close-filter-button {
  padding: .75rem;

  background-color: #007FFF;
  background-image: url("../svg/check-white.svg");
  background-size: contain;
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
}
#deselect-node-button {
  padding: .75rem;

  background-image: url("../svg/showall-black.svg");
  background-size: contain;
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
}